FGA_WebPages/Web References/TestPOL/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.plexus-online.com/DataSource" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.plexus-online.com/DataSource" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.plexus-online.com/DataSource">
      <s:element name="ExecuteDataSource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteDataSourceRequest" type="tns:ExecuteDataSourceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExecuteDataSourceRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataSourceKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InputParameters" type="tns:ArrayOfInputParameter" />
          <s:element minOccurs="0" maxOccurs="1" name="DataSourceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInputParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InputParameter" nillable="true" type="tns:InputParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InputParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:Parameter">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Required" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Output" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="DefaultValue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OutputParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:Parameter" />
        </s:complexContent>
      </s:complexType>
      <s:element name="ExecuteDataSourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteDataSourceResult" nillable="true" type="tns:ExecuteDataSourceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExecuteDataSourceResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DataSourceKey" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="QuarantinedForDevelopment" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LastPrimaryDeployment" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastTestDeployment" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Version" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DataSourceName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ResultSets" type="tns:ArrayOfResultSet" />
              <s:element minOccurs="0" maxOccurs="1" name="OutputParameters" type="tns:ArrayOfOutputParameter" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResult" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Error" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstanceNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResultSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResultSet" nillable="true" type="tns:ResultSet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultSet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RowCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rows" type="tns:ArrayOfRow" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Row" nillable="true" type="tns:Row" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Row">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Columns" type="tns:ArrayOfColumn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Column" nillable="true" type="tns:Column" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Column">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOutputParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OutputParameter" nillable="true" type="tns:OutputParameter" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteDataSourceByDataSourceKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dataSourceKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteDataSourceByDataSourceKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteDataSourceByDataSourceKeyResult" nillable="true" type="tns:ExecuteDataSourceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSourceRequestTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dataSourceKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSourceRequestTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDataSourceRequestTemplateResult" nillable="true" type="tns:GetTemplateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetTemplateResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ExecuteDataSourceRequest" type="tns:ExecuteDataSourceRequest" />
              <s:element minOccurs="0" maxOccurs="1" name="ResultSets" type="tns:ArrayOfResultSet" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ExecuteDataSourcePost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dataSourceKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parameterNames" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameterValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="delimeter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteDataSourcePostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteDataSourcePostResult" nillable="true" type="tns:ExecuteDataSourceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteDataSourceResult" nillable="true" type="tns:ExecuteDataSourceResult" />
      <s:element name="GetTemplateResult" nillable="true" type="tns:GetTemplateResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteDataSourceSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteDataSource" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourceSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourceByDataSourceKeySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteDataSourceByDataSourceKey" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourceByDataSourceKeySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteDataSourceByDataSourceKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSourceRequestTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSourceRequestTemplate" />
  </wsdl:message>
  <wsdl:message name="GetDataSourceRequestTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSourceRequestTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourcePostSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteDataSourcePost" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourcePostSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteDataSourcePostResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourceByDataSourceKeyHttpGetIn">
    <wsdl:part name="dataSourceKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourceByDataSourceKeyHttpGetOut">
    <wsdl:part name="Body" element="tns:ExecuteDataSourceResult" />
  </wsdl:message>
  <wsdl:message name="GetDataSourceRequestTemplateHttpGetIn">
    <wsdl:part name="dataSourceKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataSourceRequestTemplateHttpGetOut">
    <wsdl:part name="Body" element="tns:GetTemplateResult" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourcePostHttpGetIn">
    <wsdl:part name="dataSourceKey" type="s:string" />
    <wsdl:part name="parameterNames" type="s:string" />
    <wsdl:part name="parameterValues" type="s:string" />
    <wsdl:part name="delimeter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourcePostHttpGetOut">
    <wsdl:part name="Body" element="tns:ExecuteDataSourceResult" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourceByDataSourceKeyHttpPostIn">
    <wsdl:part name="dataSourceKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourceByDataSourceKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:ExecuteDataSourceResult" />
  </wsdl:message>
  <wsdl:message name="GetDataSourceRequestTemplateHttpPostIn">
    <wsdl:part name="dataSourceKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataSourceRequestTemplateHttpPostOut">
    <wsdl:part name="Body" element="tns:GetTemplateResult" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourcePostHttpPostIn">
    <wsdl:part name="dataSourceKey" type="s:string" />
    <wsdl:part name="parameterNames" type="s:string" />
    <wsdl:part name="parameterValues" type="s:string" />
    <wsdl:part name="delimeter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSourcePostHttpPostOut">
    <wsdl:part name="Body" element="tns:ExecuteDataSourceResult" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ExecuteDataSource">
      <wsdl:input message="tns:ExecuteDataSourceSoapIn" />
      <wsdl:output message="tns:ExecuteDataSourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourceByDataSourceKey">
      <wsdl:input message="tns:ExecuteDataSourceByDataSourceKeySoapIn" />
      <wsdl:output message="tns:ExecuteDataSourceByDataSourceKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSourceRequestTemplate">
      <wsdl:input message="tns:GetDataSourceRequestTemplateSoapIn" />
      <wsdl:output message="tns:GetDataSourceRequestTemplateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourcePost">
      <wsdl:input message="tns:ExecuteDataSourcePostSoapIn" />
      <wsdl:output message="tns:ExecuteDataSourcePostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="ExecuteDataSourceByDataSourceKey">
      <wsdl:input message="tns:ExecuteDataSourceByDataSourceKeyHttpGetIn" />
      <wsdl:output message="tns:ExecuteDataSourceByDataSourceKeyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSourceRequestTemplate">
      <wsdl:input message="tns:GetDataSourceRequestTemplateHttpGetIn" />
      <wsdl:output message="tns:GetDataSourceRequestTemplateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourcePost">
      <wsdl:input message="tns:ExecuteDataSourcePostHttpGetIn" />
      <wsdl:output message="tns:ExecuteDataSourcePostHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="ExecuteDataSourceByDataSourceKey">
      <wsdl:input message="tns:ExecuteDataSourceByDataSourceKeyHttpPostIn" />
      <wsdl:output message="tns:ExecuteDataSourceByDataSourceKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSourceRequestTemplate">
      <wsdl:input message="tns:GetDataSourceRequestTemplateHttpPostIn" />
      <wsdl:output message="tns:GetDataSourceRequestTemplateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourcePost">
      <wsdl:input message="tns:ExecuteDataSourcePostHttpPostIn" />
      <wsdl:output message="tns:ExecuteDataSourcePostHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteDataSource">
      <soap:operation soapAction="http://www.plexus-online.com/DataSource/ExecuteDataSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourceByDataSourceKey">
      <soap:operation soapAction="http://www.plexus-online.com/DataSource/ExecuteDataSourceByDataSourceKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSourceRequestTemplate">
      <soap:operation soapAction="http://www.plexus-online.com/DataSource/GetDataSourceRequestTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourcePost">
      <soap:operation soapAction="http://www.plexus-online.com/DataSource/ExecuteDataSourcePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteDataSource">
      <soap12:operation soapAction="http://www.plexus-online.com/DataSource/ExecuteDataSource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourceByDataSourceKey">
      <soap12:operation soapAction="http://www.plexus-online.com/DataSource/ExecuteDataSourceByDataSourceKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSourceRequestTemplate">
      <soap12:operation soapAction="http://www.plexus-online.com/DataSource/GetDataSourceRequestTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourcePost">
      <soap12:operation soapAction="http://www.plexus-online.com/DataSource/ExecuteDataSourcePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ExecuteDataSourceByDataSourceKey">
      <http:operation location="/ExecuteDataSourceByDataSourceKey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSourceRequestTemplate">
      <http:operation location="/GetDataSourceRequestTemplate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourcePost">
      <http:operation location="/ExecuteDataSourcePost" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ExecuteDataSourceByDataSourceKey">
      <http:operation location="/ExecuteDataSourceByDataSourceKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSourceRequestTemplate">
      <http:operation location="/GetDataSourceRequestTemplate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteDataSourcePost">
      <http:operation location="/ExecuteDataSourcePost" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://testapi.plexonline.com/DataSource/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://testapi.plexonline.com/DataSource/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://testapi.plexonline.com/DataSource/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://testapi.plexonline.com/DataSource/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>