FGA_WebPages/Web References/FGA_WS/Part_By_MDM_Add.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="part_mdm_add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="part_mdm_addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="part_mdm_addResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="part_mdm_addSoapIn">
    <wsdl:part name="parameters" element="tns:part_mdm_add" />
  </wsdl:message>
  <wsdl:message name="part_mdm_addSoapOut">
    <wsdl:part name="parameters" element="tns:part_mdm_addResponse" />
  </wsdl:message>
  <wsdl:message name="part_mdm_addHttpGetIn">
    <wsdl:part name="serialno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="part_mdm_addHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="part_mdm_addHttpPostIn">
    <wsdl:part name="serialno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="part_mdm_addHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="Part_By_MDM_AddSoap">
    <wsdl:operation name="part_mdm_add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add part to plex by MDM</wsdl:documentation>
      <wsdl:input message="tns:part_mdm_addSoapIn" />
      <wsdl:output message="tns:part_mdm_addSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Part_By_MDM_AddHttpGet">
    <wsdl:operation name="part_mdm_add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add part to plex by MDM</wsdl:documentation>
      <wsdl:input message="tns:part_mdm_addHttpGetIn" />
      <wsdl:output message="tns:part_mdm_addHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Part_By_MDM_AddHttpPost">
    <wsdl:operation name="part_mdm_add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add part to plex by MDM</wsdl:documentation>
      <wsdl:input message="tns:part_mdm_addHttpPostIn" />
      <wsdl:output message="tns:part_mdm_addHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Part_By_MDM_AddSoap" type="tns:Part_By_MDM_AddSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="part_mdm_add">
      <soap:operation soapAction="http://tempuri.org/part_mdm_add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Part_By_MDM_AddSoap12" type="tns:Part_By_MDM_AddSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="part_mdm_add">
      <soap12:operation soapAction="http://tempuri.org/part_mdm_add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Part_By_MDM_AddHttpGet" type="tns:Part_By_MDM_AddHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="part_mdm_add">
      <http:operation location="/part_mdm_add" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Part_By_MDM_AddHttpPost" type="tns:Part_By_MDM_AddHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="part_mdm_add">
      <http:operation location="/part_mdm_add" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Part_By_MDM_Add">
    <wsdl:port name="Part_By_MDM_AddSoap" binding="tns:Part_By_MDM_AddSoap">
      <soap:address location="http://172.16.80.46:83/Web%20Service/Part_By_MDM_Add.asmx" />
    </wsdl:port>
    <wsdl:port name="Part_By_MDM_AddSoap12" binding="tns:Part_By_MDM_AddSoap12">
      <soap12:address location="http://172.16.80.46:83/Web%20Service/Part_By_MDM_Add.asmx" />
    </wsdl:port>
    <wsdl:port name="Part_By_MDM_AddHttpGet" binding="tns:Part_By_MDM_AddHttpGet">
      <http:address location="http://172.16.80.46:83/Web%20Service/Part_By_MDM_Add.asmx" />
    </wsdl:port>
    <wsdl:port name="Part_By_MDM_AddHttpPost" binding="tns:Part_By_MDM_AddHttpPost">
      <http:address location="http://172.16.80.46:83/Web%20Service/Part_By_MDM_Add.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>